NODE_ENV=production
PORT=3001
COOKIE_SECRET=ZCic2p2ufAFGEh8yaQ2X6R6N9I50Y4cY

# lokasi db sqlite
DB_PATH=./data/app.db

# untuk generate url canonical (opsional)
BASE_URL=http://localhost:3001

# cookie secure untuk HTTPS saja. set false jika local pakai http
COOKIE_SECURE=false

